.about__content {
	@include paddingBox();
}

.about__title {
	text-align: left;

	&::after {
		margin: 10px 0 0 0;
	}
}

.about__content__text {
	font-size: 1.4rem;
	line-height: 200%;
}

.about__content__link-box {
	display: flex;
	margin-top: 2em;
	padding: 2em;
}

.about__content__link-box_icon {
	width: 60%;

	span {
		display: block;
		text-align: center;
		font-size: 3rem;
		color: $oppositeColor;
	}
}

.about__content__link-box_title {
	display: block;
	font-size: 2rem;
	text-decoration: none;
	font-weight: 500;
	color: #000;
	text-transform: uppercase;
	cursor: pointer;
}

.about__content__link-box_text {
	font-size: 1.4rem;
	line-height: 200%;
}

.about__image {
	width: 100%;
	height: 250px;
	background-image: url("../img/aboutImg_700.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

@media (min-width: map-get($breakpoints, s)) {
	.about__content__link-box_icon {
		width: 20%;
	}
	.about__image {
		height: 350px;
	}
}

@media (min-width: map-get($breakpoints, m)) {
	.about__content {
		width: 80%;
		margin: 3em auto;
	}

	.about__content__links {
		display: flex;
	}
	.about__image {
		background-position: bottom;
		background-image: url("../img/aboutImg_1000.jpg");
	}
}

@media (min-width: map-get($breakpoints, xl)) {
	.about {
		display: flex;
	}

	.about__content {
		width: 50%;
		padding: 0 5em;
		margin: 0;
	}

	.about__content__link-box_icon {
		margin-right: 10px;
	}

	.about__image {
		width: 50%;
		height: 600px;
		background-image: url("../img/aboutImg_vertical.jpg");
		order: -1;
	}
}
@media (min-width: map-get($breakpoints, xxl)) {
	.about {
		padding: 5em 0;
	}
	.about__content {
		padding: 2em 10em;
	}
}
