.ErrorPage__wrapper {
	min-height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.ErrorPage__text {
	margin-bottom: 0.5em;
	font-size: 1.6rem;
}

.ErrorPage__btn {
	padding: 1rem 2rem;
	font-size: 1rem;
}
