.btn {
	display: block;
	min-width: 200px;
	padding: 1.5rem 3rem;
	border-radius: 50px;
	border: none;
	background: $blueGradient;
	font-size: 1.6rem;
	color: #fff;
	text-decoration: none;
	letter-spacing: 1px;
	text-shadow: 0px 0px 3px black;
	cursor: pointer;
}

.btn:hover {
	background: $blueGradientSecond;
}

.heading-section {
	@include headingSection();
}
