.header {
	position: relative;
	height: 100vh;
	background-image: url("../img/bg-header-min.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.header-box {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
	color: #fff;
	z-index: 2;
}

.header-title {
	font-size: 2.2rem;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-shadow: $textShadowBlack;

	strong {
		display: block;
		margin-top: -0.3em;
		font-size: 1.9rem;
		color: $primaryColor;
		text-transform: lowercase;
		font-weight: 500;
		font-style: italic;
		letter-spacing: -0.5px;
	}
}

.header-text {
	width: 80%;
	font-size: 1.6rem;
	margin: 2em auto;
}

.header-typing {
	font-size: 1.6rem;
	font-weight: 200;
	text-shadow: $textShadowBlack;
}

.header-typing::after {
	content: "_";
	opacity: 0;
	animation: toggleCursor infinite 0.3s alternate;
}

.box-left {
	display: none;
}

.socials {
	width: 50%;
	margin: 0 auto;
	display: flex;
	justify-content: center;

	a {
		margin: 0 0.5em;
		padding: 0.5em;
		color: $primaryColor;
		font-size: 1.5rem;
	}
}

.box-buttons {
	display: flex;
	justify-content: center;
	margin-top: 2em;
	gap: 1rem;
}

// .box-left,
// .box-right {
// 	width: 50%;
// }

// .box-left {
// 	height: 100%;
// 	// max-height: 80%;
// 	display: flex;
// 	justify-content: center;
// 	// background-image: url("../img/bg7.png");
// 	background-size: 30%;
// 	background-repeat: no-repeat;
// 	background-position: left 20% center;
// 	background-attachment: fixed;
// 	z-index: 2;
// 	img {
// 		display: block;
// 		width: 300px;
// 		// margin-left: auto;
// 	}
// }

@keyframes toggleCursor {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
