.header {
	position: relative;
	height: 100vh;
	background-image: url("../img/header/bg-header-min.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow: hidden;
}

.header-box {
	position: absolute;
	top: 310px;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
	color: #fff;
	z-index: 2;
}

.header-title {
	font-size: 2.2rem;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-shadow: $textShadowBlack;

	strong {
		display: block;
		margin-top: -0.3em;
		font-size: 1.9rem;
		color: $primaryColor;
		text-transform: lowercase;
		font-weight: 500;
		font-style: italic;
		letter-spacing: -0.5px;
	}
}

.header-text {
	width: 80%;
	font-size: 1.6rem;
	margin: 2em auto;
}

.header-typing {
	font-size: 1.6rem;
	font-weight: 200;
	text-shadow: $textShadowBlack;
}

.header-typing::after {
	content: "_";
	opacity: 0;
	animation: toggleCursor infinite 0.3s alternate;
}

.box-left {
	display: none;
}

.socials {
	width: 50%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.box-buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 2em;
	gap: 1rem;
}

@keyframes toggleCursor {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media (min-width: map-get($breakpoints, s)) {
	.header {
		background-size: cover;
	}

	.header-box {
		top: 40%;
	}
}

@media (min-height: 700px) {
	.header-box {
		top: 50%;
	}
}

@media (min-width: map-get($breakpoints, m)) {
	.header {
		background-image: url("../img/header/bg-header.jpg");
		background-position: center;
	}

	.header-box {
		top: 50%;
	}

	.header-title {
		font-size: 2.8rem;
		letter-spacing: 4px;

		strong {
			font-size: 2.1rem;
		}
	}
}
@media (min-width: map-get($breakpoints, l)) {
	.header-box {
		width: 45%;
	}

	.header-title {
		font-size: 2.8rem;
		letter-spacing: 4px;

		strong {
			font-size: 2.1rem;
		}
	}

	.header-text {
		font-size: 1.8rem;
		text-align: left;
	}

	.header-typing {
		text-align: center;
	}
}

@media (min-width: map-get($breakpoints, xl)) {
	.header {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}

	.box-left {
		display: block;
		height: 100%;
		width: 40%;
		background: url("../img/bg.png");
		background-size: 500px;
		background-repeat: no-repeat;
		background-position-y: center;
		background-position-x: calc(40% - 250px);
		background-attachment: fixed;
		opacity: 0.7;
	}
	.header-box {
		position: static;
		transform: translate(0, 0);
		text-align: left;
	}

	.header-title {
		font-size: 4rem;

		strong {
			font-size: 3.5rem;
		}
	}

	.header-text {
		margin: 2em 0;
	}

	.header-typing {
		text-align: left;
	}

	.socials {
		margin: 0;
		justify-content: start;
		a {
			font-size: 1.7rem;
		}
	}

	.box-buttons {
		justify-content: start;
	}
}
@media (min-width: map-get($breakpoints, xxl)) {
	.header-text {
		width: 50%;
	}
}
