@mixin headingSection() {
	margin: 1em 0;
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: 0.5px;

	&::after {
		content: "";
		display: block;
		width: 35px;
		height: 1px;
		margin: 0 auto;
		margin-top: 10px;
		background-color: $hoverColor;
	}
}
