@mixin headingSection() {
	margin: 1em 0;
	font-size: 2.6rem;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	width: 100%;
	text-align: center;
	letter-spacing: 2px;

	&::after {
		content: "";
		display: block;
		width: 35px;
		height: 1px;
		margin: 10px auto 0 auto;
		background-color: $hoverColor;
	}

	@media (min-width: map-get($breakpoints, l)) {
		font-size: 2.8rem;
	}

	@media (min-width: map-get($breakpoints, xl)) {
		font-size: 3.2rem;
	}
}

@mixin widthContent() {
	max-width: $width-content;
	margin: 0 auto;
}

@mixin text() {
	font-size: 1.4rem;
	line-height: 200%;
	letter-spacing: 0.5px;
	color: #fff;

	@media (min-width: map-get($breakpoints, l)) {
		font-size: 1.6rem;
	}
}

@mixin bottomLineInNavigation() {
	content: "";
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 0;
	height: 2px;
	max-width: 100%;
	background: $hoverColor;
	transition: 0.3s all ease-in-out;
}

@mixin paddingBox() {
	padding: 6em 2em;

	@media (min-width: map-get($breakpoints, l)) {
		padding: 7em 4em;
	}

	@media (min-width: map-get($breakpoints, xxl)) {
		padding: 8em 0;
	}
}
