.motto {
	padding-top: 2em;
}

.motto__box {
	position: relative;
	padding: 5em 1em;
}

.motto__text {
	font-size: 2rem;
	text-align: center;
	font-family: "Special Elite", system-ui;

	&::before {
		position: absolute;
		content: "\f10d";
		font-family: "FontAwesome";
		top: 30px;
		font-size: 20px;
		color: rgba(0, 0, 0, 0.1);
	}

	&::after {
		content: "";
		position: absolute;
		top: 20px;
		left: 50%;
		width: 35px;
		transform: translateX(-50%);
		border-bottom: 1px solid $hoverColor;
	}
}

.motto__author {
	display: block;
	font-size: 1.2rem;
	text-align: right;
	font-weight: 700;
}

@media (min-width: map-get($breakpoints, s)) {
	.motto__box {
		width: 400px;
		margin: 0 auto;
	}
}

@media (min-width: map-get($breakpoints, l)) {
	.motto__box {
		width: 600px;
	}

	.motto__text {
		margin-top: 0.5em;
		font-size: 2.5rem;

		&::before {
			font-size: 30px;
		}

		&::after {
			width: 100px;
		}
	}
	.motto__author {
		margin-top: 1em;
	}
}

@media (min-width: map-get($breakpoints, xl)) {
	.motto__box {
		width: 700px;
	}

	.motto__text {
		font-size: 3rem;
	}
}
