.main-nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	background-color: rgba(255, 0, 0, 0.293);
	width: 100%;
}

.main-nav__btn {
	position: absolute;
	right: 10px;
	top: 50%;
	// transform: translateY(-50%);
	// display: flex;
	// justify-content: center;
	// align-items: center;
	width: 40px;
	height: 40px;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}

.main-nav__hamburger {
	width: 30px;
	height: 4px;
	background: white;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
	transition: all 0.5s ease-in-out;
}

.main-nav__hamburger::before,
.main-nav__hamburger::after {
	content: "";
	position: absolute;
	width: 30px;
	height: 4px;
	background: white;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
	transition: all 0.5s ease-in-out;
}

.main-nav__hamburger::before {
	transform: translateY(-10px);
}

.main-nav__hamburger::after {
	transform: translateY(10px);
}

/*ANIMATION*/

.main-nav__btn.open .main-nav__hamburger {
	transform: translateX(-50px);
	background: transparent;
	box-shadow: none;
}

.main-nav__btn.open .main-nav__hamburger::before {
	transform: rotate(45deg) translate(35px, -35px);
}

.main-nav__btn.open .main-nav__hamburger::after {
	transform: rotate(-45deg) translate(35px, 35px);
}
