.main-nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
}

.main-nav__wrapper {
	height: 70px;
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0 2em;
	transition: background-color 0.3s ease-in-out;
}

.main-nav__wrapper.nav-bg {
	background-color: rgba(2, 21, 222, 1);
	box-shadow: 0px 0px 5px 1px rgb(0, 0, 0);
	background-image: linear-gradient(
		45deg,
		rgba(2, 90, 222, 1) 0%,
		rgba(2, 21, 222, 1) 100%
	);

	.main-nav__logo {
		color: white;
	}
}

.main-nav__list {
	position: absolute;
	right: 0;
	top: 0;
	height: 100vh;
	width: 60%;
	padding: 1em;
	transform: translateX(100%);
	background: $blueGradient;
	background: linear-gradient(
		45deg,
		rgba(2, 90, 222, 1) 0%,
		rgba(2, 21, 222, 1) 100%
	);
	box-shadow: 1px 0px 5px 0px rgb(0, 0, 0);
	transition: transform 0.5s;
}

.main-nav__list.show-nav {
	transform: translateX(0%);
}

.main-nav__logo {
	align-self: center;
	font-size: 1.5rem;
	font-style: italic;
	font-weight: 700;

	a {
		color: $primaryColor;
		text-shadow: $textShadowBlack;
		text-decoration: none;
		transition: color 0.5s;
	}

	.logo-white {
		color: white;
	}
}

.main-nav__item {
	list-style: none;

	&:first-child {
		margin-top: 6em;
	}
}

.main-nav__link {
	display: block;
	padding: 0.5rem;
	color: white;
	text-decoration: none;
	font-size: 1.6rem;
	text-shadow: 1px 1px 1px black;
	letter-spacing: 0.5px;
	transition: color 0.3s;

	&:hover {
		color: $oppositeColor;
		font-weight: 700;
		text-shadow: 1px 1px 0px black;
	}
}

.main-nav__link.active {
	color: $oppositeColor;
	font-weight: 700;
	text-shadow: 1px 1px 0px black;
}

/* BURGER */

.main-nav__btn {
	position: absolute;
	right: 10px;
	top: 50%;
	width: 40px;
	height: 40px;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}

.main-nav__hamburger {
	width: 30px;
	height: 3px;
	background: white;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
	transition: all 0.5s ease-in-out;
}

.main-nav__hamburger::before,
.main-nav__hamburger::after {
	content: "";
	position: absolute;
	width: 30px;
	height: 3px;
	background: white;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
	transition: all 0.5s ease-in-out;
}

.main-nav__hamburger::before {
	transform: translateY(-8px);
}

.main-nav__hamburger::after {
	transform: translateY(8px);
}

/*ANIMATION*/

.main-nav__btn.open .main-nav__hamburger {
	transform: translateX(-50px);
	background: transparent;
	box-shadow: none;
}

.main-nav__btn.open .main-nav__hamburger::before {
	transform: rotate(45deg) translate(35px, -35px);
}

.main-nav__btn.open .main-nav__hamburger::after {
	transform: rotate(-45deg) translate(35px, 35px);
}

@media (min-width: map-get($breakpoints, s)) {
	.main-nav__list {
		width: 50%;
	}
}

@media (min-width: map-get($breakpoints, xl)) {
	.main-nav {
	}

	.main-nav__wrapper {
		max-width: 1920px;
		margin: 0 auto;
		height: 80px;
		padding: 0 10em;
		transition: height 0.3s ease-in-out;
	}

	.main-nav__wrapper.nav-bg {
		height: 60px;
	}

	.main-nav__btn {
		display: none;
	}

	.main-nav__list {
		position: static;
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: end;
		align-items: center;
		transform: translate(0);
		background: transparent;
		box-shadow: none;
	}

	.main-nav__item {
		&:first-child {
			margin-top: 0;
		}

		&:hover {
			.main-nav__link::after {
				width: 100%;
			}
		}
	}

	.main-nav__link {
		position: relative;
		padding: 0.5rem 1rem;
		margin: 0 1em;

		&:hover {
			font-weight: normal;
			color: white;
		}

		&::after {
			@include bottomLineInNavigation();
		}
	}

	.main-nav__link.active {
		font-weight: normal;
		color: white;

		&::after {
			width: 100%;
		}
	}
}
