.portfolio__content {
	margin: 5em 1em;
}

.portfolio__content__title {
	font-size: 2rem;
	font-weight: 400;
	text-transform: uppercase;

	span {
		display: block;
		margin-top: 0.2em;
		margin-bottom: 2em;
		font-size: 1.2rem;
		color: #00000054;
	}
}

.portfolio__content__text {
	font-size: 1.4rem;
	letter-spacing: 0.5px;
	line-height: 200%;
}

.portfolio__link {
	display: block;
	margin: 4em auto;
	position: relative;
	width: 250px;
	height: 170px;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.6);

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.3);
		z-index: 1;
		transition: background-color 0.5s ease-in-out;
	}
}

.portfolio__link-image {
	display: block;
	width: 100%;
	height: 100%;
}

.portfolio__link-text {
	color: white;
	text-decoration: none;
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	text-align: center;
	width: 100%;
	padding: 1em 0.5em;
	font-size: 0.8rem;
	font-style: italic;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 2;
	transition: background-color 0.5s ease-in-out, translate 0.5s ease-in-out;

	span {
		font-style: italic;
	}
}

.portfolio__play-btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	background: transparent;
	border: none;
	z-index: 2;
	transition: translate 0.5s ease-in-out;

	span {
		font-size: 2.5rem;
		color: #ffffff;
	}
}

.portfolio__link:hover {
	&::after {
		background-color: transparent;
	}

	.portfolio__link-text {
		background-color: transparent;
		transform: translate(-50%, -50%) scale(0);
	}

	.portfolio__play-btn {
		transform: translate(-50%, -50%) scale(0);
	}
}

@media (min-width: map-get($breakpoints, s)) {
	.portfolio__links {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
}

@media (min-width: map-get($breakpoints, m)) {
	.portfolio__link {
		margin: 2em auto;
		width: 300px;
		height: 200px;
	}

	.portfolio__link-text {
		top: 75%;
		font-size: 1.2rem;
	}
}

@media (min-width: map-get($breakpoints, l)) {
	.portfolio {
		margin: 0 4em;
	}

	.portfolio__title {
		text-align: left;

		&::after {
			margin: 10px 0 0 0;
		}
	}

	.portfolio__box {
		display: flex;
		align-items: center;
	}

	.portfolio__content {
		width: 30%;
	}

	.portfolio__links {
		width: 70%;
	}

	.portfolio__link {
		margin: 2em auto;
		width: 250px;
		height: 150px;
	}
}

@media (min-width: map-get($breakpoints, xl)) {
	.portfolio {
		margin: 0;
	}

	.portfolio__box {
		margin-left: 10%;
	}

	.portfolio__content {
		width: 40%;
	}

	.portfolio__links {
		position: relative;
		height: 500px;
		width: 60%;
	}

	.portfolio__link-text {
		display: none;
	}

	.portfolio__play-btn {
		display: none;
	}

	.portfolio__link {
		position: absolute;
		margin: 0;
		transform: scale(1);
		transform-origin: 100% 0;

		&::after {
			content: none;
		}
	}

	.portfolio__link.animateOn {
		animation: changeZIndex 0.3s ease-in-out both alternate;
	}

	.portfolio__link.animateOff {
		animation: zIndexOff 0.3s ease-in-out;
	}

	// POSITION PHOTO-LINKS
	.first {
		top: 0px;
		right: 0px;
		width: 300px;
		height: 170px;
		z-index: 1;
		animation-delay: 0ms;
	}

	.second {
		top: 100px;
		right: 190px;
		width: 300px;
		height: 200px;
		animation-delay: 200ms;
	}

	.third {
		top: 250px;
		right: 320px;
		width: 310px;
		height: 190px;
		animation-delay: 400ms;
	}

	.fourth {
		top: 390px;
		right: 130px;
		width: 310px;
		height: 190px;
	}

	.fifth {
		top: 340px;
		right: 30px;
		width: 190px;
		height: 150px;
	}

	.sixth {
		top: 140px;
		right: 0;
		width: 150px;
		height: 130px;
		z-index: 2;
	}
}

@media (min-width: map-get($breakpoints, xxl)) {
	.portfolio__box {
		margin-left: 20%;
	}
}

// ANIMATION

@keyframes changeZIndex {
	from {
		z-index: 1;
		transform: scale(1);
	}
	to {
		z-index: 5;
		transform: scale(1.05);
	}
}

@keyframes zIndexOff {
	from {
		transform: scale(1.05);
		z-index: 5;
	}
	to {
		z-index: 1;
		transform: scale(1);
	}
}

@keyframes showBox {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
