// breakpoints
$breakpoints: (
	s: 500px,
	m: 770px,
	l: 900px,
	xl: 1200px,
	xxl: 1400px,
);

$width-content: 1200px;

// $primaryColor: #5b99a9;
// TODO spr ten kolor wyżej
// colors
$primaryColor: #025add;
$primaryColorLighter: #0c6de0;
$hoverColor: #dd025a; //zminić nazwę na "przeciwstawny, przeciwny" ?
$bg-color: #f8f8f8;
$border-box-color: #bdbdbd;

$blueGradient: linear-gradient(45deg, $primaryColor, $primaryColorLighter);
$blueGradientSecond: linear-gradient(
	45deg,
	$primaryColorLighter,
	$primaryColor
);

// fonts
$fontSize: 10px;
$textShadowBlack: 2px 2px 2px black;
