// breakpoints
$breakpoints: (
	s: 500px,
	m: 765px,
	l: 900px,
	xl: 1200px,
	xxl: 1400px,
);

$width-content: 1200px;

// colors
$primaryColor: #025add;
$primaryColorLighter: #0c6de0;
$primaryColorDarker: #012d6f;
$oppositeColor: #dd025a;
$bg-color: #f8f8f8;
$border-box-color: #bdbdbd;
$lightColorText: #f8f8f8;
$secondColorText: #212529;

$blueGradient: linear-gradient(45deg, $primaryColor, $primaryColorLighter);
$blueGradientSecond: linear-gradient(
	45deg,
	$primaryColorLighter,
	$primaryColor
);

// fonts
$fontSize: 10px;
$textShadowBlack: 2px 2px 2px black;
